#page-wrapper
  .row
    .col-lg-12
      %h2.page-header Items
    / /.col-lg-12
  / /.row
  .row
    .col-lg-12
      .panel.panel-default
        .panel-heading
        / /.panel-heading
        .panel-body
          .dataTable_wrapper
            #dataTables-example_wrapper.dataTables_wrapper.form-inline.dt-bootstrap.no-footer
              .row
                .col-sm--12
                  %table#dataTables-example.table.table-striped.table-bordered.table-hover
                    %thead
                      %tr
                        %th Serial Number
                        %th Location
                        %th Manufacture Date
                        %th Expiry Date
                        %th PO Number
                        %th SAP #
                    %tbody
              .row
                .col-sm--6
                .col-sm--6
                  #dataTables-example_paginate.dataTables_paginate.paging_simple_numbers
                    %ul.pagination
                      %li#dataTables-example_previous.paginate_button.previous.disabled
                      %li.paginate_button.active
                      %li#dataTables-example_next.paginate_button.next.disabled

  / / main column 2
/ /hbox layout
%script{src: '/js/application/item_list_helper.js'}
:javascript
  var itemListHelper;
  var data = #{@data};
  $(document).ready(function () {
      var config = {
          itemListUrl: '/item/list/',
      };
    itemListHelper = new ItemListHelper(data,config);
    itemListHelper.setup({})
  });

